openapi: 3.1.0
info:
  title: LEAF4Life Media API
  version: wp/v2
  summary: Anonymously readable WordPress media library behind leafforlife.com.
  description: The read-only content surface LEAF4Life exposes at https://leafforlife.com/wp-json. LEAF4Life Inc. is a privately
    held clinical-stage biopharmaceutical company in Woburn, Massachusetts developing KizaVie™ (LEAF-4L6715), a proprietary
    liposomal formulation of transcrocetin for hypoxia-related disorders. It runs no developer program and markets no product
    API. This document is an API Evangelist derivation of the WordPress REST route index the site publishes at /wp-json/,
    restricted to operations verified to return data anonymously on 2026-08-25. This document covers the media library.
  contact:
    name: LEAF4Life Inc.
    url: https://leafforlife.com/contact-us/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index
    published at https://leafforlife.com/wp-json/ (150 routes across 7 namespaces) and verified against live anonymous responses
    on 2026-08-25. Every parameter below appears verbatim in that route index's `args` for the endpoint it is attached to,
    and every collection count quoted in a description was read from the `X-WP-Total` response header on that date. LEAF4Life
    publishes no OpenAPI, no developer portal and no API reference for this surface; the humanURL in apis.yml points at the
    upstream WordPress REST handbook that defines the wp/v2 contract. Routes that returned HTTP 401 anonymously (/wp/v2/settings,
    /wp/v2/block-types, /wp/v2/menu-items, /wp/v2/template-parts, the whole akismet/v1, wp-super-cache/v1, wp-site-health/v1
    and wp-abilities/v1 namespaces) and every write method are deliberately excluded. Nothing here was obtained with credentials.
servers:
- url: https://leafforlife.com/wp-json
  description: Production WordPress REST content API
tags:
- name: media
  description: Image attachments — 59 items, all PNG or JPEG, at harvest time.
paths:
  /wp/v2/media:
    get:
      tags:
      - media
      operationId: listMedia
      summary: List media library items
      description: Lists attachments in the media library. 59 items at harvest time (43 image/png, 16 image/jpeg), spanning
        September 2020 to July 2026 — site imagery, leadership headshots and figure artwork from the science pages. No PDFs,
        documents or datasets are published on this route.
      parameters:
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: media_type
        in: query
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
            - font
      - name: mime_type
        in: query
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          items:
            type: string
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
          default: inherit
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/media/{id}:
    get:
      tags:
      - media
      operationId: getMediaItem
      summary: Retrieve a single media item
      description: Retrieves one attachment by numeric id, including source_url and the generated media_details.sizes renditions.
      parameters:
      - name: id
        in: path
        description: Unique identifier for the post.
        required: true
        schema:
          type: integer
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope. Not RFC 9457 problem+json; served as application/json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_post_invalid_id.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Present on rest_invalid_param; maps the offending parameter name to its validation message.
      required:
      - code
      - message
  responses:
    BadRequest:
      description: Invalid parameter (rest_invalid_param) or missing required parameter (rest_missing_callback_param).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
    Unauthorized:
      description: Anonymous request to a route this deployment restricts (rest_forbidden, rest_cannot_view). Observed on
        /wp/v2/settings, /wp/v2/block-types, /wp/v2/menu-items, /wp/v2/template-parts and the akismet/v1, wp-super-cache/v1,
        wp-site-health/v1 and wp-abilities/v1 namespaces.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
    NotFound:
      description: No route matched (rest_no_route) or the requested resource id does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WPError'
